// Import Fonts
@font-face {
  font-family: "MissionGothicBlack";
  src: url("assets/fonts/MissionGothicBlack.ttf") format("truetype");
}

@font-face {
  font-family: "MissionGothicBold";
  src: url("assets/fonts/mission_gothic_bold-webfont.woff") format("woff");
}
