.faq {
  background-color: #fff;
  margin-top: 30px;
  margin-bottom: 90px;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    left: -8px;
    top: -8px;
    width: calc(100% + 16px);
    height: calc(100% + 16px);
    border: 8px solid rgba(255, 255, 255, 0.3);
  }
  h1 {
    font-family: "MissionGothicBold", "Arial Narrow", Arial, sans-serif;
    color: #004990;
    font-weight: bold;
    margin-bottom: 25px;
    font-size: 36px;
  }
  h2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #0092d2;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
  }

  p {
    font-family: Arial, sans-serif;
    line-height: 1.428571429;
    color: #333;
  }
  .accordion {
    .card {
      border-top: solid 1px #000;
      border-radius: 0;
      border-left: 0;
      border-right: 0;
      &:last-child {
        border-bottom: solid 1px #000;
      }
    }
    .card-header {
      background-color: transparent;
      padding: 0;
      border: 0;
      button {
        font-family: Arial, sans-serif;
        font-weight: 700;
        color: #428bca;
        position: relative;
        width: 100%;
        white-space: normal;
        text-align: left;
      }
      button[aria-expanded="false"] {
        &:after {
          content: "+";
          position: absolute;
          font-size: 25px;
          font-family: Arial, sans-serif;
          font-weight: bold;
          right: 0;
          top: 0;
          color: #428bca;
        }
      }
      button[aria-expanded="true"] {
        color: red;
        &:after {
          content: "-";
          font-size: 25px;
          position: absolute;
          font-family: Arial, sans-serif;
          font-weight: bold;
          right: 0;
          top: 0;
          color: red;
        }
      }
    }
    .card-body {
      font-family: Arial, sans-serif;
      line-height: 1.428571429;
      color: #333;
      padding: 13px;
      table {
        th {
          font-family: Arial, sans-serif;
          color: #333;
          font-weight: bold;
          border: 1px solid black;
          text-align: center;
          vertical-align: middle;
          padding: 5px;
        }
        td {
          font-family: Arial, sans-serif;
          color: #333;
          border: 1px solid black;
          text-align: center;
          vertical-align: middle;
          padding: 5px;
        }
      }
    }
  }
  @media screen and (min-width: 576px) and (max-width: 767px) {
    h1 {
      font-size: 22px;
    }
  }

  @media screen and (max-width: 575px) {
    h1 {
      font-size: 18px;
    }
    p {
      font-size: 14px;
      text-align: justify;
    }
    &:before {
      display: none;
    }
    table {
      th {
        font-size: 14px;
      }
      td {
        font-size: 14px;
      }
    }
  }
}
