.products-page {
  background-color: #fff;
  margin-top: 30px;
  margin-bottom: 90px;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    left: -8px;
    top: -8px;
    width: calc(100% + 16px);
    height: calc(100% + 16px);
    border: 8px solid rgba(255, 255, 255, 0.3);
  }
  .page-info {
    h1 {
      font-family: "MissionGothicBold", "Arial Narrow", Arial, sans-serif;
      color: #004990;
      font-weight: bold;
      margin-bottom: 25px;
      font-size: 36px;
    }
    p {
      font-family: Arial, sans-serif;
      color: #333;
      line-height: 1.428571429;
    }
  }
  .products {
    border-top: 1px solid #eee;
    margin-top: 25px;
    padding-top: 20px;
    img {
      max-width: 345px;
      height: auto;
    }
    .right {
      h4 {
        font-family: "MissionGothicBold", "Arial Narrow", Arial, sans-serif;
        color: #0092d2;
        font-weight: bold;
        margin-bottom: 25px;
        font-size: 32px;
      }
      p {
        font-family: Arial, sans-serif;
        color: #333;
        line-height: 1.428571429;
        margin-bottom: 25px;
      }
      a {
        font-family: "MissionGothicBold", "Arial Narrow", Arial, sans-serif;
        font-size: 18px;
        color: #0092d2;
        border: solid 2px #0092d2;
        text-transform: uppercase;
        padding: 2px 16px;
        &:hover {
          text-decoration: unset;
          color: #004990;
          border: solid 2px #004990;
        }
      }
    }
  }
  @media screen and (min-width: 576px) and (max-width: 991px) {
    .page-info {
      h1 {
        font-size: 26px;
      }
      .products {
        .left {
          img {
            max-width: 300px;
            display: block;
            margin: auto;
          }
        }
        .right {
          text-align: center;
          margin-top: -65px;
        }
      }
    }
  }
  @media screen and (max-width: 575px) {
    &:before {
      display: none;
    }
    .page-info {
      h1 {
        font-size: 22px;
        text-align: center;
      }
      p {
        text-align: justify;
      }
    }
    .products {
      .left {
        img {
          max-width: 250px;
          display: block;
          margin: auto;
        }
      }
      .right {
        text-align: center;
        margin-top: -65px;
        h4 {
          font-size: 20px;
        }
        p {
          font-size: 14px;
        }
        a {
          font-size: 14px;
        }
      }
    }
  }
}
