.single-product {
  background-color: #fff;
  margin-top: 30px;
  margin-bottom: 90px;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    left: -8px;
    top: -8px;
    width: calc(100% + 16px);
    height: calc(100% + 16px);
    border: 8px solid rgba(255, 255, 255, 0.3);
  }
  .product-image {
    img {
      max-width: 100%;
      height: auto;
    }
  }
  .product-info {
    h3 {
      font-family: "MissionGothicBold", "Arial Narrow", Arial, sans-serif;
      font-size: 36px;
      font-weight: bold;
      color: #14aae2;
      margin-bottom: 25px;
    }
    p {
      font-family: Arial, sans-serif;
      color: #333;
      margin-bottom: 25px;
    }
    a {
      font-family: "MissionGothicBold", "Arial Narrow", Arial, sans-serif;
      font-size: 18px;
      color: #0092d2;
      border: solid 2px #0092d2;
      text-transform: uppercase;
      padding: 2px 16px;
      &:hover {
        text-decoration: unset;
        color: #004990;
        border: solid 2px #004990;
      }
    }
  }
  #myTab {
    padding: 10px 0;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    border-top: solid 1px #000;
    border-bottom: solid 1px #000;
    li {
      a {
        border: 0;
        font-family: "MissionGothicBold", "Arial Narrow", Arial, sans-serif;
        color: #004990;
        &:hover {
          text-decoration: underline;
          border: 0;
        }
        &.active {
          background-color: transparent;
          border: 0;
          color: #ef1514;
        }
      }
    }
  }
  .tab-content {
    margin-top: 50px;
    h4 {
      font-family: "MissionGothicBold", "Arial Narrow", Arial, sans-serif;
      font-weight: bold;
      font-size: 18px;
      color: #0092d2;
      margin-bottom: 50px;
    }
  }
  p {
    font-family: Arial, sans-serif;
    color: #333;
  }
  table {
    thead {
      font-family: Arial, sans-serif;
      background-color: #004990;
      color: #fff;
      th {
        vertical-align: middle;
        text-align: center;
        border-bottom: 2px solid #ddd;
        font-size: 14px;
        &:not(:first-child) {
          border-left: 1px solid #fff;
        }
      }
    }
    tbody {
      font-family: Arial, sans-serif;
      td {
        text-align: center;
      }
    }
  }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .product-info {
      h3 {
        font-size: 22px;
      }
      p {
        font-size: 14px;
      }
    }
    #myTab {
      margin-top: 25px;
    }
  }

  @media screen and (min-width: 576px) and (max-width: 767px) {
    .product-image {
      img {
        max-width: 35%;
        display: block;
        margin: auto;
      }
    }
    .product-info {
      text-align: center;
      h3 {
        font-size: 22px;
      }
      p {
        text-align: left;
        font-size: 14px;
      }
    }
    #myTab {
      margin-top: 25px;
    }
    .tab-content {
      margin-top: 25px;
      h4 {
        margin-bottom: 25px;
        text-align: center;
      }
      p {
        text-align: center;
      }
    }
  }

  @media screen and (max-width: 575px) {
    &:before {
      display: none;
    }
    .product-image {
      img {
        max-width: 35%;
        display: block;
        margin: auto;
      }
    }
    .product-info {
      text-align: center;
      h3 {
        font-size: 18px;
      }
      p {
        text-align: left;
        font-size: 14px;
      }
    }
    #myTab {
      margin-top: 25px;
    }
    .tab-content {
      margin-top: 25px;
      h4 {
        margin-bottom: 25px;
        text-align: center;
      }
      img {
        max-width: 75px;
        height: auto;
      }
      p {
        text-align: center;
        font-size: 14px;
      }
    }
  }
}
