nav.navbar {
  ul {
    li {
      a {
        font-family: "MissionGothicBold", sans-serif;
        color: #004990;
        font-size: 16px;
        font-weight: bold;
        &:hover {
          color: #ef1514;
        }
      }
    }
    .dropdown-menu {
      border: solid 2px #bdbcb9;
      background-color: #f5f1e7;
      a {
        font-family: "MissionGothicBold", "Arial Narrow", Arial, sans-serif;
        color: #004990;
        font-weight: 400;
        // text-transform: uppercase;
        &:hover {
          background-color: #f5f1e7;
        }
      }
    }
  }
  @media screen and (max-width: 767px) {
    position: absolute;
    z-index: 200;
    width: 100%;
    left: 0;
    padding: 0;
    // right: 0;
    // top: 25%;
    .navbar-toggler {
      position: absolute;
      top: -70px;
      right: 15px;
      &:focus {
        outline: none;
      }
      i {
        font-size: 28px;
        color: #004990;
      }
    }
    ul {
      background-color: #004990;
      padding: 10px;
      .dropdown-menu {
        background: transparent;
        border: 0;
        a {
          color: #fff;
          &:hover {
            background-color: transparent;
          }
        }
      }
      li {
        a {
          color: #fff;
          padding-left: 0;
          white-space: normal;
        }
      }
    }
  }
}
